<div>
  <input type="text" [(ngModel)]="nicknameRegistrazione">
  <button (click)="registra()">Registrazione</button>
</div>
<div>
  <input type="text" [(ngModel)]="messaggio">
  <button (click)="inviaTutti()">Invia a tutti</button>
  <br>
  <button (click)="aggiorna()">Aggiorna</button>
  <br>
  Contatti
  <table>
    <tr>
      <th>Nickname</th>
    </tr>
    <tr *ngFor="let c of contatti">
      <td>{{c.nickname}}</td>
      <td>
        <button (click)="invia(c)">Invia</button>
      </td>
    </tr>
  </table>
  Messaggi
  <table>
    <tr>
      <th>Mittente</th>
      <th>Messaggio</th>
    </tr>
    <tr *ngFor="let m of messaggi">
      <td>{{m.aliasMittente}}</td>
      <td>{{m.testo}}</td>
    </tr>
  </table>
</div>